body{

font-family: Arial;

background: linear-gradient(135deg,#74ebd5,#ACB6E5);

height:100vh;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

transition: background 1s;

}

h1{

color:white;

}

.busca{

margin-bottom:20px;

}

input{

padding:12px;
width:200px;

border:none;
border-radius:6px;

}

button{

padding:12px;
margin-left:5px;

border:none;
border-radius:6px;

background:#333;
color:white;

cursor:pointer;

}

button:hover{

background:#555;

}

#resultado{

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 4px 12px rgba(0,0,0,0.2);

font-size:18px;

text-align:center;

min-width:260px;

}

img{

width:90px;

}